# The GroupBy Object

In [2]:
import pandas as pd

## The Fortune 1000 dataset
- The **Fortune 1000** is a listing of the 1000 largest American companies as ranked by Fortune magazine
- The **DataFrame** includes the company's name, sector, industry and revenues, profits and employees

In [26]:
fortune_df = pd.read_csv("fortune1000.csv", index_col="Rank")
fortune_df["Sector"]  = fortune_df["Sector"].astype("category")
fortune_df["Industry"] = fortune_df["Industry"].astype("category")
fortune = fortune_df.copy()
fortune

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
1,Walmart,Retailing,General Merchandisers,482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,181241,1476,70400
...,...,...,...,...,...,...
996,New York Community Bancorp,Financials,Commercial Banks,1902,-47,3448
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646
999,Wendy’s,"Hotels, Resturants & Leisure",Food Services,1896,161,21200
1000,Briggs & Stratton,Industrials,Industrial Machinery,1895,46,5480

## The groupby Method

In [19]:
sectors = fortune.groupby("Sector", observed=False)
sectors

In [20]:
len(sectors)

21

In [22]:
sectors.size()

Sector
Aerospace & Defense              20
Apparel                          15
Business Services                51
Chemicals                        30
Energy                          122
Engineering & Construction       26
Financials                      139
Food and Drug Stores             15
Food, Beverages & Tobacco        43
Health Care                      75
Hotels, Resturants & Leisure     25
Household Products               28
Industrials                      46
Materials                        43
Media                            25
Motor Vehicles & Parts           24
Retailing                        80
Technology                      102
Telecommunications               15
Transportation                   36
Wholesalers                      40
dtype: int64

In [23]:
sectors.first()

,Rank,Company,Industry,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,24,Boeing,Aerospace and Defense,96114,5176,161400
Apparel,91,Nike,Apparel,30601,3273,62600
Business Services,144,ManpowerGroup,Temporary Help,19330,419,27000
Chemicals,56,Dow Chemical,Chemicals,48778,7685,49495
Energy,2,Exxon Mobil,Petroleum Refining,246204,16150,75600
Engineering & Construction,155,Fluor,"Engineering, Construction",18114,413,38758
Financials,4,Berkshire Hathaway,Insurance: Property and Casualty (Stock),210821,24083,331000
Food and Drug Stores,7,CVS Health,Food and Drug Stores,153290,5237,199000
"Food, Beverages & Tobacco",41,Archer Daniels Midland,Food Production,67702,1849,32300
Health Care,5,McKesson,Wholesalers: Health Care,181241,1476,70400
"Hotels, Resturants & Leisure",109,McDonald’s,Food Services,25413,4529,420000
Household Products,34,Procter & Gamble,Household and Personal Products,78756,7036,110000
Industrials,11,General Electric,Industrial Machinery,140389,-6126,333000
Materials,126,Alcoa,Metals,22534,-322,60000
Media,53,Disney,Entertainment,52465,8382,185000
Motor Vehicles & Parts,8,General Motors,Motor Vehicles and Parts,152356,9687,215000
Retailing,1,Walmart,General Merchandisers,482130,14694,2300000
Technology,3,Apple,"Computers, Office Equipment",233715,53394,110000
Telecommunications,10,AT&T,Telecommunications,146801,13345,281450
Transportation,48,UPS,"Mail, Package, and Freight Delivery",58363,4844,341240
Wholesalers,57,Sysco,Wholesalers: Food and Grocery,48681,687,51700

In [24]:
sectors.last()

,Rank,Company,Industry,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,987,Delta Tucker Holdings,Aerospace and Defense,1923,-133,12000
Apparel,917,Guess,Apparel,2204,82,13500
Business Services,993,DeVry Education Group,Education,1910,140,11770
Chemicals,949,H.B. Fuller,Chemicals,2084,87,4425
Energy,997,Portland General Electric,Utilities: Gas and Electric,1898,172,2646
Engineering & Construction,994,MDC Holdings,Homebuilders,1909,66,1225
Financials,996,New York Community Bancorp,Commercial Banks,1902,-47,3448
Food and Drug Stores,928,Fred’s,Food and Drug Stores,2151,-7,7103
"Food, Beverages & Tobacco",954,Alliance One International,Tobacco,2066,-15,6835
Health Care,978,Providence Service,Health Care: Pharmacy and Other Services,1987,84,9072
"Hotels, Resturants & Leisure",999,Wendy’s,Food Services,1896,161,21200
Household Products,992,Revlon,Household and Personal Products,1914,56,5700
Industrials,1000,Briggs & Stratton,Industrial Machinery,1895,46,5480
Materials,986,Schnitzer Steel Industries,Metals,1924,-197,2955
Media,989,Cenveo,"Publishing, Printing",1921,-31,7300
Motor Vehicles & Parts,979,Allison Transmission Holdings,Motor Vehicles and Parts,1986,182,2700
Retailing,973,99 Cents Only Stores,Specialty Retailers: Other,1999,-232,18200
Technology,990,F5 Networks,Network and Other Communications Equipment,1920,365,4178
Telecommunications,786,Equinix,Telecommunications,2726,188,5042
Transportation,974,Roadrunner Transportation Systems,Transportation and Logistics,1995,48,4502
Wholesalers,991,BlueLinx Holdings,Wholesalers: Diversified,1917,-12,1600

## Retreive a Group with the get_group Method

In [31]:
fortune = fortune_df.copy()
sectors = fortune.groupby("Sector", observed=False)
fortune.head()

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
1,Walmart,Retailing,General Merchandisers,482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,181241,1476,70400

In [32]:
sectors.get_group("Energy") # Get the individual group dataframes

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
14,Chevron,Energy,Petroleum Refining,131118,4587,61500
30,Phillips 66,Energy,Petroleum Refining,87169,4227,14000
32,Valero Energy,Energy,Petroleum Refining,81824,3990,10103
42,Marathon Petroleum,Energy,Petroleum Refining,64566,2852,45440
...,...,...,...,...,...,...
981,WPX Energy,Energy,"Mining, Crude-Oil Production",1958,-1727,1040
983,Adams Resources & Energy,Energy,Petroleum Refining,1944,-1,809
995,EP Energy,Energy,"Mining, Crude-Oil Production",1908,-3748,665
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646

## Methods on the GroupBy Object
- Use square brackets on the `DataFraomeGroupBy` object to extract a column fro m the original df
- the `SeriesGroupBy` will have agg methods on it

In [33]:
fortune = fortune_df.copy()
sectors = fortune.groupby("Sector", observed=False)
fortune.head()

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
1,Walmart,Retailing,General Merchandisers,482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,181241,1476,70400

In [36]:
sectors["Revenue"].sum()

Sector
Aerospace & Defense              357940
Apparel                           95968
Business Services                272195
Chemicals                        243897
Energy                          1517809
Engineering & Construction       153983
Financials                      2217159
Food and Drug Stores             483769
Food, Beverages & Tobacco        555967
Health Care                     1614707
Hotels, Resturants & Leisure     169546
Household Products               234737
Industrials                      497581
Materials                        259145
Media                            220764
Motor Vehicles & Parts           482540
Retailing                       1465076
Technology                      1377600
Telecommunications               461834
Transportation                   408508
Wholesalers                      444800
Name: Revenue, dtype: int64

In [38]:
sectors["Revenue"].mean()

Sector
Aerospace & Defense             17897.000000
Apparel                          6397.866667
Business Services                5337.156863
Chemicals                        8129.900000
Energy                          12441.057377
Engineering & Construction       5922.423077
Financials                      15950.784173
Food and Drug Stores            32251.266667
Food, Beverages & Tobacco       12929.465116
Health Care                     21529.426667
Hotels, Resturants & Leisure     6781.840000
Household Products               8383.464286
Industrials                     10816.978261
Materials                        6026.627907
Media                            8830.560000
Motor Vehicles & Parts          20105.833333
Retailing                       18313.450000
Technology                      13505.882353
Telecommunications              30788.933333
Transportation                  11347.444444
Wholesalers                     11120.000000
Name: Revenue, dtype: float64

In [39]:
sectors[["Revenue", "Profits", "Employees"]].sum()

                              Revenue  Profits  Employees
Sector
Aerospace & Defense            357940    28742     968057
Apparel                         95968     8236     346397
Business Services              272195    28227    1361050
Chemicals                      243897    22628     463651
Energy                        1517809   -73447    1188927
Engineering & Construction     153983     5304     406708
Financials                    2217159   260209    3359948
Food and Drug Stores           483769    16759    1395398
Food, Beverages & Tobacco      555967    51417    1211632
Health Care                   1614707   106114    2678289
Hotels, Resturants & Leisure   169546    20697    2484245
Household Products             234737    14428     646038
Industrials                    497581    20764    1545229
Materials                      259145     4428     638123
Media                          220764    24347     550314
Motor Vehicles & Parts         482540    25898    1082560
Retailing                     1465076    47830    6227629
Technology                    1377600   180473    3578949
Telecommunications             461834    48637     832468
Transportation                 408508    44169    1536793
Wholesalers                    444800     8233     525597

## Grouping by Multiple Columns
- Pass a list of columns to the **groupby** method to group by pairings of values across columns
- Target a column to retreive the **SeriesGroupBy** Object, then perform an aggregation with a method.
- Pandas will return a **MultiIndex Series** where the levels will be the original groups

In [53]:
fortune = fortune_df.copy()
sectors = fortune.groupby("Sector", observed=True)
sector_industries = fortune.groupby(["Sector", "Industry"], observed=True)

fortune.head()

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
1,Walmart,Retailing,General Merchandisers,482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,181241,1476,70400

In [50]:
sector_industries.get_group(("Energy", "Petroleum Refining"))

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
14,Chevron,Energy,Petroleum Refining,131118,4587,61500
30,Phillips 66,Energy,Petroleum Refining,87169,4227,14000
32,Valero Energy,Energy,Petroleum Refining,81824,3990,10103
42,Marathon Petroleum,Energy,Petroleum Refining,64566,2852,45440
98,Tesoro,Energy,Petroleum Refining,28150,1540,6016
214,HollyFrontier,Energy,Petroleum Refining,13238,740,2704
217,PBF Energy,Energy,Petroleum Refining,13124,146,2270
289,Western Refining,Energy,Petroleum Refining,9787,407,7347
394,Hess,Energy,Petroleum Refining,6575,-3056,2770
445,Delek US Holdings,Energy,Petroleum Refining,5762,19,4584
569,Alon USA Energy,Energy,Petroleum Refining,4260,53,2860
571,Calumet Specialty Products Partners,Energy,Petroleum Refining,4213,-139,2175
732,Northern Tier Energy,Energy,Petroleum Refining,3002,331,2961
850,United Refining,Energy,Petroleum Refining,2470,82,2997
953,Par Pacific Holdings,Energy,Petroleum Refining,2066,-40,744
983,Adams Resources & Energy,Energy,Petroleum Refining,1944,-1,809

In [51]:
sector_industries["Revenue"].sum()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            357940
Apparel              Apparel                                           95968
Business Services    Advertising, marketing                            22748
                     Diversified Outsourcing Services                  64829
                     Education                                          7485
                                                                       ...
Transportation       Trucking, Truck Leasing                           35950
Wholesalers          Miscellaneous                                      8982
                     Wholesalers: Diversified                         176138
                     Wholesalers: Electronics and Office Equipment    147906
                     Wholesalers: Food and Grocery                    111774
Name: Revenue, Length: 79, dtype: int64

In [52]:
sector_industries.size()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            20
Apparel              Apparel                                          15
Business Services    Advertising, marketing                            2
                     Diversified Outsourcing Services                 14
                     Education                                         3
                                                                      ..
Transportation       Trucking, Truck Leasing                           9
Wholesalers          Miscellaneous                                     1
                     Wholesalers: Diversified                         25
                     Wholesalers: Electronics and Office Equipment     8
                     Wholesalers: Food and Grocery                     6
Length: 79, dtype: int64

## The agg Method
- The `agg` method applies different aggregation methods on different columns.
- Invoke the `agg` method directly on the **DataFrameGroupBy** object.
- Pass the method a dict where the keys are the columns and the values are the aggregation methods

In [54]:
fortune = fortune_df.copy()
sectors = fortune.groupby("Sector", observed=True)

fortune.head()

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
1,Walmart,Retailing,General Merchandisers,482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,181241,1476,70400

In [55]:
sectors.agg({'Revenue': 'sum', 'Profits': 'sum', 'Employees': 'mean'})

                              Revenue  Profits     Employees
Sector
Aerospace & Defense            357940    28742  48402.850000
Apparel                         95968     8236  23093.133333
Business Services              272195    28227  26687.254902
Chemicals                      243897    22628  15455.033333
Energy                        1517809   -73447   9745.303279
Engineering & Construction     153983     5304  15642.615385
Financials                    2217159   260209  24172.287770
Food and Drug Stores           483769    16759  93026.533333
Food, Beverages & Tobacco      555967    51417  28177.488372
Health Care                   1614707   106114  35710.520000
Hotels, Resturants & Leisure   169546    20697  99369.800000
Household Products             234737    14428  23072.785714
Industrials                    497581    20764  33591.934783
Materials                      259145     4428  14840.069767
Media                          220764    24347  22012.560000
Motor Vehicles & Parts         482540    25898  45106.666667
Retailing                     1465076    47830  77845.362500
Technology                    1377600   180473  35087.735294
Telecommunications             461834    48637  55497.866667
Transportation                 408508    44169  42688.694444
Wholesalers                    444800     8233  13139.925000

## Iterating through Groups

In [56]:
fortune = fortune_df.copy()
sectors = fortune.groupby("Sector", observed=True)

fortune.head()

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
1,Walmart,Retailing,General Merchandisers,482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,181241,1476,70400

In [63]:
# Find two companies in each sector with most employees
# Include group will show whether to include "Sector" aka grouping columns in the callback function's df
sectors.apply(lambda group_df: group_df.nlargest(2, "Employees"), include_groups=False)

                                                    Company  \
Sector                       Rank
Aerospace & Defense          45         United Technologies
                             24                      Boeing
Apparel                      448                Hanesbrands
                             231                         VF
Business Services            199                    Aramark
                             744                  Convergys
Chemicals                    101                     DuPont
                             56                Dow Chemical
Energy                       2                  Exxon Mobil
                             117                Halliburton
Engineering & Construction   156                      AECOM
                             235   Jacobs Engineering Group
Financials                   4           Berkshire Hathaway
                             27                 Wells Fargo
Food and Drug Stores         17                      Kroger
                             19    Walgreens Boots Alliance
Food, Beverages & Tobacco    44                     PepsiCo
                             62                   Coca-Cola
Health Care                  63                HCA Holdings
                             6           UnitedHealth Group
Hotels, Resturants & Leisure 218                 Yum Brands
                             109                 McDonald’s
Household Products           34            Procter & Gamble
                             256     Stanley Black & Decker
Industrials                  11            General Electric
                             75     Honeywell International
Materials                    126                      Alcoa
                             127        International Paper
Media                        53                      Disney
                             255      R.R. Donnelley & Sons
Motor Vehicles & Parts       8               General Motors
                             9                   Ford Motor
Retailing                    1                      Walmart
                             28                  Home Depot
Technology                   31                         IBM
                             20                          HP
Telecommunications           10                        AT&T
                             13                     Verizon
Transportation               48                         UPS
                             58                       FedEx
Wholesalers                  212                     Synnex
                             57                       Sysco

                                                                        Industry  \
Sector                       Rank
Aerospace & Defense          45                            Aerospace and Defense
                             24                            Aerospace and Defense
Apparel                      448                                         Apparel
                             231                                         Apparel
Business Services            199                Diversified Outsourcing Services
                             744                Diversified Outsourcing Services
Chemicals                    101                                       Chemicals
                             56                                        Chemicals
Energy                       2                                Petroleum Refining
                             117                 Oil and Gas Equipment, Services
Engineering & Construction   156                       Engineering, Construction
                             235                       Engineering, Construction
Financials                   4          Insurance: Property and Casualty (Stock)
                             27                                 Commercial Banks
Food and Drug Stores         17                             Food and Drug Stores
                             19                             Food and Drug Stores
Food, Beverages & Tobacco    44                           Food Consumer Products
                             62                                        Beverages
Health Care                  63                  Health Care: Medical Facilities
                             6           Health Care: Insurance and Managed Care
Hotels, Resturants & Leisure 218                                   Food Services
                             109                                   Food Services
Household Products           34                  Household and Personal Products
                             256                     Home Equipment, Furnishings
Industrials                  11                             Industrial Machinery
                             75                   Electronics, Electrical Equip.
Materials                    126                                          Metals
                             127                           Packaging, Containers
Media                        53                                    Entertainment
                             255                            Publishing, Printing
Motor Vehicles & Parts       8                          Motor Vehicles and Parts
                             9                          Motor Vehicles and Parts
Retailing                    1                             General Merchandisers
                             28                       Specialty Retailers: Other
Technology                   31                  Information Technology Services
                             20                      Computers, Office Equipment
Telecommunications           10                               Telecommunications
                             13                               Telecommunications
Transportation               48              Mail, Package, and Freight Delivery
                             58              Mail, Package, and Freight Delivery
Wholesalers                  212   Wholesalers: Electronics and Office Equipment
                             57                    Wholesalers: Food and Grocery

                                   Revenue  Profits  Employees
Sector                       Rank
Aerospace & Defense          45      61047     7608     197200
                             24      96114     5176     161400
Apparel                      448      5732      429      65300
                             231     12377     1232      64000
Business Services            199     14329      236     216500
                             744      2951      169     130000
Chemicals                    101     27940     1953      52000
                             56      48778     7685      49495
Energy                       2      246204    16150      75600
                             117     23633     -671      65000
Engineering & Construction   156     17990     -155      92000
                             235     12115      303      56950
Financials                   4      210821    24083     331000
                             27      90033    22894     264700
Food and Drug Stores         17     109830     2039     431000
                             19     103444     4220     302500
Food, Beverages & Tobacco    44      63056     5452     263000
                             62      44294     7351     123200
Health Care                  63      43591     2129     203500
                             6      157107     5813     200000
Hotels, Resturants & Leisure 218     13105     1293     505000
                             109     25413     4529     420000
Household Products           34      78756     7036     110000
                             256     11211      884      51250
Industrials                  11     140389    -6126     333000
                             75      38581     4768     129000
Materials                    126     22534     -322      60000
                             127     22365      938      56000
Media                        53      52465     8382     185000
                             255     11257      151      68400
Motor Vehicles & Parts       8      152356     9687     215000
                             9      149558     7373     199000
Retailing                    1      482130    14694    2300000
                             28      88519     7009     385000
Technology                   31      82461    13190     411798
                             20     103355     4554     287000
Telecommunications           10     146801    13345     281450
                             13     131620    17879     177700
Transportation               48      58363     4844     341240
                             58      47453     1050     323035
Wholesalers                  212     13338      209      78500
                             57      48681      687      51700